body{
  background-color: azure;
  font-size: 1.5em;
  font-family: Arial Narrow, sans-serif;
  margin: 0px;
  width: 100%;
  height: 100%;
}

input[type=button], input[type=submit]{
  border:none;
  padding:6px 0 6px 0;
  border-radius:8px;
  background:orange;
  font:bold 13px Arial;
  color:#fff;
}

h1{
  font-size: 3em;
  text-align: center;
}
h2{
  font-size: 1.25em;
}
img{
  width: 4em;
  background-image: white;
}
a{
  color: white;
  text-decoration: none;
}


.hauthaut{
  display: grid;
  align-items: center;
  grid-template-columns: 25% 25% 25% 25%;
  color: white;
  background-color: menutext;
}
.hautbas{
  padding: 1%;
  text-align: center;
  color: white;
  background-color: orange;
}
.contenue{
  padding: 1%;
}
.pageactive{
  padding: 2%;
  margin-right: 50%;
  background-color: orange;
}
.bas{text-align: center;}


/* CSS des filtres */
.asideG{
  background-color: menutext;
  width: 35%;
  display: grid;
  align-items: center;
  color: white;
}
/*.f{
}*/
.filtres{
  grid-template-columns: 50% 50%;
}


table {
border-collapse:collapse;
width:100%;
max-width:700px;
min-width:400px;
margin: auto;
text-align:center;
font-size: smaller;
}


table,th, td {
border: 1px solid gray;
}

th, td {
height: 24px;
padding:4px;
vertical-align:middle;
}


.rowtitle {
background: orange;
font-weight:bold;
color : #fff;
}