body{
  background-color: azure;
  font-family: Arial, sans-serif;
  margin: -1px;
}
h1{
  text-align: center;
}
a{text-decoration: none;}
a:hover{
  background-color: orange;
}
/* CSS MENU */
.hauthaut p{
  text-align: center;
  padding: 1px;
  color: white;
}
/* GRILLE MENU */
.hauthaut{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(80px, auto);
  background-color: gray;
}
.plusp{grid-column: 4;}
.gererp{grid-column: 3;}
.voirp{grid-column: 2;}
img{
  height: 50px;
  grid-column: 1;
  grid-row: 1;
  color: white;
}
/* CSS du titre */
.hautbas{
  color: white;
  padding-top: 18px;
  padding-bottom: 2px;
  background-color: darkorange;
}
/* CSS du contenue */
.contenue{
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-gap: 20px;
}
.paragraphe{
  padding-left: 300px;
  padding-right: 300px;
}
.paragraphe p{
  text-indent: 50px;
}
.kekec{
  text-align: center;
  font-style: italic;
}
.bas{
  text-align: center;
  font-weight: bold;
}
/* CSS des filtres */
.asideG{
  grid-row: 1;
  grid-column: 1;
  margin-top: 5px;
  border: solid;
  border-radius: 0.5px;
  color: white;
  background-color: grey;
  display: grid;
}
.asideD{
  margin-top: 5px;
  grid-column: 2;
  grid-row: 1;
}
.filtres{
  display: flex;
}
.recherche{
  width: 600px;
}
.brecherche{background: "https://cdn.pixabay.com/photo/2014/04/02/10/18/magnifying-glass-303408_960_720.png";}
/* CSS GERER */
.choisir{
  display: grid;
  margin-left: 40%;
  margin-top: 45px;
  grid-gap: 45px;
}
.choisir input{
	border-radius:20px 0 20px 0;
	background: grey;
	border:none;
	color: white;
	font:bold 12px Verdana;
	padding:18px 38px 18px 38px;
	box-shadow:2px 2px 6px #999;
}
